<div class="home-banner-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 home-banner-block">
        <div class="home-banner-holder">
          <div class="row">
            <div class="col-xs-3 home-banner-icon-block"><i class="fa fa-truck"></i></div>
            <div class="col-xs-9 home-banner-content-block">
              <h4 class="home-banner-title">Free & Fast Shipping</h4>
              <div class="home-banner-content"><b>Enjoy 0 shipping charges and guaranteed our products will arrive at your doorsteps in a rapid manner.</b></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 home-banner-block">
        <div class="home-banner-holder">
          <div class="row">
            <div class="col-xs-3 home-banner-icon-block"><i class="fa fa-dollar"></i></div>
            <div class="col-xs-9 home-banner-content-block">
              <h4 class="home-banner-title">10% Cashback For Your First Purchase!</h4>
              <div class="home-banner-content"><b>Receive 10% cashback after your first purchase with minimum purchase of $20.</b></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 home-banner-block">
        <div class="home-banner-holder">
          <div class="row">
            <div class="col-xs-3 home-banner-icon-block"><i class="fa fa-comments-o"></i></div>
            <div class="col-xs-9 home-banner-content-block">
              <h4 class="home-banner-title">24/7 Online Support</h4>
              <div class="home-banner-content"><b>If there is any inquiries, we will respond to your needs 24/7.</b></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
