<div class="global_footer">
  <div class="container">
    <div class="footer-colunm-container">
      <div class="text-muted">
        Copyrights &copy; 2019 <a href="#">fruitbinge</a>
      </div>
 <div class="text-muted">
      </div>
      <div class="desktop-text-right text-muted">
        Design & Developed by <a href="#">fruitbinge-Max</a>
      </div>
    </div>
  </div>
</div>
